@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

.nav-bar {
    /* background-color: rgb(216, 147, 43); */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nav-heading {
    color: #FF0000;
    font-size: 33px;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    transition: .3s linear;
    font-size: 17px;
}

.navbar-links a:hover {
    color: #FF0000;
}

.nav-menu-toggle {
    color: black;
    display: none;
    cursor: pointer;
}

/* side navbar */

.side-navbar {
    background-color: grey;
    width: 35%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -45%;
    color: #fff;
    padding: 20px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.side-navbar .x-mark {
    text-align: right;
    cursor: pointer;
}

.side-navbar .x-mark:hover {
    color: #FF0000;
}

.side-navbar-link {
    margin-top: 30px;
    margin-left: 30px;
}

.side-navbar-links a {
    color: #fff;
    text-decoration: none;
    transition: .3s linear;
}

.side-navbar-links a:hover {
    color: #FF0000;
}
 
/* Header */

.header {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    align-items: center;
    line-height: 30px;
}

.header-img {
    width: 500px;
    height: 600px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-button {
    padding: 20px 30px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
    background-color: #FF0000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* service */

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.service-container-2 div {
    background-color: #EBE3D5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.service-container-2 div i {
    color: #886F6F;
}

.service-container-2 div h3 {
    color: #FF0000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* New Arrivals */

.arrival h2 {
    text-align: center;
    margin-top: 60px;
    color: #FF0000;
    font-size: 30px;
}

.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
    padding: 10px;
}

.new-arrival-container img {
    width: 450px;
    height: 550px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.new-arrival-container button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 35%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.new-arrival-container button:hover {
    cursor: pointer;
}

/* Most purchased */

.most-purchased h2 {
    text-align: center;
    margin-top: 60px;
    color: #FF0000;
    font-size: 30px;
}

.most-purchased1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.most-purchased-container {
    position: relative;
    flex-basis: 20%;
    padding: 10px;
}

.shirt-img {
    width: 450px;
    height: 600px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.most-purchased-container button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #FF0000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 35%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.most-purchased-container button:hover {
    cursor: pointer;
}

/* News Letter */

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.news h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-div {
    margin-top: 20px;
}

.search-input {
    width: 80vw;
    padding: 15px;
    margin-bottom: 30px;
    border: solid 2px #B4B4B8;
    border-radius: 7px;
} 

.subscribe button {
    padding: 15px 30px;
    background-color: #FF0000;
    color: #fff;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 30px;
    font-size: 18px;
}

.search-input:focus {
    outline: none;
}

.subscribe button:hover {
    cursor: pointer;
}

/* Footer */

.footer {
    margin-left: -20px;
    margin-bottom: -20px;
    width: 94.6%;
    background-color: #FF0000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 60px;
}

.footer p {
    color: #fff;
}

.footer-box-1 {
    color: #fff;
}

.footer-heading {
    color: #FFF;
    font-size: 30px;
    line-height: 50px;
}

.footer-icon-container i {
    margin: 10px 0px;
    margin-right: 10px;
}

.footer p span {
    font-size: 20px;
}

.footer span {
    font-weight: bold;
}

.collection-footer p span {
    font-size: 20px;
}

.collection-footer p {
    color: #fff;
}

.collection-footer span {
    font-weight: bold;
}

.footer-icon-container i:hover {
    cursor: pointer;
}

/* collections */

.product-section {
    margin: 60px 0px;
}

.product-search {
    width: 80%;
    border: solid #B4B4B8 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
}

.product-search #search-input {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px;
}

.product-search i {
    cursor: pointer;
    padding-right: 10px;
    color: #886F6F;
}

.product-search #search-input:focus {
    outline: none;
}

.products {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box img {
    width: 300px;
    height: 400px;
    border-radius: 7px;
    margin-bottom: 40px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.product-box {
    text-align: center;
    flex-basis: 18%;
}

.product-box p {
    margin-bottom: 40px;
    font-size: 20px;
    color: #FF0000;
    font-weight: bold;
}

.collection-footer {
    margin-left: -20px;
    margin-bottom: -20px;
    width: 93.4%;
    background-color: #FF0000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 60px;
}

.product-box .tops-img {
    width: 370px;
}

/* Contact */

.contact {
    margin: 60px;
    padding: 40px;
    border: none;
    border-radius: 7px;
    color: #FFF;
    background-color: #B4B4B8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact-container div {
    margin-bottom: 30px;
}

.contact-container h2 {
    font-size: 30px;
    text-align: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

.form-div label {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 20px;
}

.form-div input {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    border: solid #B4B4B8 1px;
    margin: auto;
}

.form-div .Msg-input {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    height: 150px;
    border: solid #B4B4B8 1px;
    margin: auto;
}

.form-div input, textarea:focus {
    outline: none;
}

.form-div button {
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    background-color: #FF0000;
    border: none;
    border-radius: 7px;
    margin-left: 10%;
    margin-top: 20px;
}

.form-div button:hover {
    cursor: pointer;
}

.contact-footer {
    margin-left: -20px;
    margin-bottom: -20px;
    width: 93.4%;
    background-color: #FF0000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 60px;
}

.contact-footer p, span {
    color: #fff;
}

.contact-footer span {
    font-size: 20px;
    font-weight: bold;
}

/* Media Query */

@media screen and (max-width:700px) {
    .nav-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }

    .most-purchased-container {
        margin-top: 45px;
    }

    .new-arrival-container {
        margin-bottom: 45px;
    }

    .news p {
        text-align: center;
        line-height: 30px;
    }
}